@import "https://fonts.googleapis.com/css2?family=Poppins&display=swap";

body {
    /* Background */
    background-image: url('images/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%) ;
}

main {
    /* Display */
    height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Page Text  */

.pageText {
    flex-basis: 50%;
    color: white;
    padding-right: 10px;
}

/* Form  */

.formBox {
    flex-basis: 50%;
    padding-left: 10px;
}

#freeTrial {
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

form > input , form > button {
    margin-top: 10px;
    height: 50px;
    border-radius: 5px;
}

input{
    padding:0 30px;
}

/* footer attribution  */

.attribution { 
    font-size: 16px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Validation */

[hidden] { 
    display: none;
}

input:focus:invalid {
    color: #c33;
    border-color: #c33;
}

input:invalid {
    border-bottom: 1px solid #c33;
}

input:valid {
    border-bottom: transparent;
}

/* Fonts */

h1 { 
    font: bolder 2.5em 'Poppins', sans-serif;
}

h2 { 
    font: 2em 'Poppins', sans-serif;
}

h3 { 
    font: 1.5em 'Poppins', sans-serif;
}

h4 { 
    font: 1em 'Poppins', sans-serif;
}